.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.header-inner {
    padding: 0px 20px;
    /* background-color: rgba(0, 0, 0, 0.2); */
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-left {
    
}

.header-right {
    
}